.gallery{
    column-count: 3;
    margin-left: 48px;
    margin-right: 48px;
}

.pics{
    padding: 10px;
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1); 
    transition: transform 0.5s ease;
    z-index: 0;
}

.pics:hover{
    transform: scale(1.05);
    z-index: 1;
}

.pics img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.pics p{
    display: none;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 28px;
}

.pics button{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    color: #EB5757;
    padding: 4px 16px;
    font-size: 12px;
    border: 1px solid #EB5757;
    border-radius: 10px;
    font-weight: 500;
}

.pics:hover button{
    display: block;
}

.pics:hover p {
    display: block;
}

@media screen and (max-width: 768px){
    .gallery{
        column-count: 2;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 480px){
    .gallery{
        column-count: 1;
        margin-left: 24px;
        margin-right: 24px;
    }
}










